img{
    float: left;  border-radius: 100%;
}

h1{
    background-color: rgb(181, 122, 236); color: aliceblue; margin-left:
}
    


#second{
    margin-left: 10%; margin-right: 10%; background-color: aliceblue; margin-top: 10%;
}
body{
    background-color: rgb(164, 144, 184);
}
 