#div1{
    background-color: aliceblue;   color:black  
     width: 23px; height: 600px; 
    border: 10px
    
}
img{
    border-radius: 70%;
}
#div2{
    background-color: aliceblue;  color: black;
    height: 600px; border: 7px;
    }

#div3{
    background-color: aliceblue; ; color: black;  margin: auto;
    height: 600px; border: 10px;
    }
    